
{% extends "layout.html" %}

{% block content %}

<div>

    {% for product in products %}

        <div>
            {{ product.name }}      

            <a href={{url_for('add_to_cart', product_id=product.id)}}><button>Add to Cart</button></a>
        </div> 
        <br>

    {% endfor %}

</div>

<hr>

<div>

    <h1>Shopping Cart</h1>

    {% if cart.values() %}

    {% for item in cart.values() %}
        Shoe Name: {{ item.name }}  Quantity: {{ item.qty }}   Price:   {{ item.price }} <br>
    {% endfor %}

    {% endif %}

    <p>Total: {{ total }}</p>

    <a href="{{url_for('create_order', customer_id=customer.id)}}"><button>Proceed to Checkout</button></a>
</div>

{% endblock %}